bin/* linguist-generated=true
configure.ac linguist-generated=true
extconf.rb linguist-generated=true
Gemfile linguist-generated=true
Gemfile.lock linguist-generated=true
Rakefile linguist-generated=true
